table {
    table-layout: fixed;
    word-wrap: break-word;
}
.text-align-center{
text-align:center;
}
.margin-zero{
margin:0;
}
.overflow-hidden{
overflow:hidden;
}
.margin-bottom-1em{
margin-bottom:1em;
}
.m-r-1em{
 margin-right:1em;
 }
 .adjustActionColumn{
   width:23%;
 }
